.cal-container{
  border: 1px solid grey;
  border-radius: 5px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

#display{
  margin: 10px;
  width: 85%;
  font-size: 25px;
}
.button-container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.btn{
  width: 45px;
  height: 45px;
  margin: 3px;
}